on:
  workflow_call:
  
jobs:
  Shellcheck:
    name: 'Shell Check'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.ULTIMAKER_CI_PAT }}
          submodules: recursive
          fetch-depth: 0
         
      - name: Shell Check
        id: shellcheck
        run: |
          ./build_for_ultimaker.sh -a shellcheck
